# Dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Debug and Logs
*-debug.log*
*-error.log*
.pnpm-debug.log*

# Environment and Secrets
.env
.env.local
.env.production
.env.*.local
*.pem

# IDE and OS files
.DS_Store
.vscode
.idea
*.swp
*.swo

# Turborepo
.turbo

# Local DB / Docker
/postgres_data

# App specific
/apps/web/next-env.d.ts
/apps/web/.vercel
